
.vscode/settings.json
/Tecnicas Avançadas Programação/Aulas/Aula_13-03/nbproject/private/
/Tecnicas Avançadas Programação/Aulas/Aula_28_02/nbproject/private/
/Tecnicas Avançadas Programação/Aulas/Aula_28_02/build/
/Tecnicas Avançadas Programação/Aulas/Aula005/nbproject/private/
/Tecnicas Avançadas Programação/Aulas/Aula005/build/